.ideas-headers-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
span:nth-child(even) {
  animation-name: slide-in-top;
  animation-duration: 1s;
}
span:nth-child(odd) {
  animation-name: slide-in-bottom;
  animation-duration: 1s;
}

.idea-header {
  margin: 20px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: white;
  border: 4px solid #f7b42c;
  border-radius: 30px;
  font-weight: 800;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  transition: all 0.2s ease-in-out;
  padding: 30px;
}
.idea-header:hover {
  transform: scale(1.1);
  color: white;
  border-radius: 30px;
  border: none;
  background-color: #f7b42c;
  border: 4px solid #f7b42c;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
}
.art {
  background-image: url('../../pictures/art.jpg');
  background-size: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}
.science {
  background-image: url('../../pictures/science.jpg');
  background-size: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}
.games {
  background-image: url('../../pictures/games.jpg');
  background-size: cover;
}
.social {
  background-image: url('../../pictures/social.jpg');
  background-position: 25% 75%;
  background-size: cover;
}
.music {
  background-image: url('../../pictures/music.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.cooking {
  background-image: url('../../pictures/food.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1090px) {
  .idea-header {
    margin: 10px;
  }
}

@media (max-width: 850px) {
  .ideas-headers-container {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .idea-header {
    writing-mode: horizontal-tb;
    font-size: 30px;
    width: 100%;
  }
}
@media (max-width: 350px) {
  .idea-header {
    width: 80%;
  }
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
