.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.header {
  height: auto;
  width: 80%;
  font-weight: 500;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  margin: 90px 0 20px 80px;
}

.couple-of-ideas {
  font-weight: 500;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  height: auto;
  margin-bottom: 20px;
  margin-left: 30px;
}
@media (max-width: 850px) {
  .couple-of-ideas {
    font-weight: 500;
    font-size: 20px;
  }
  .header {
    font-size: 30px;
  }
}
@media (max-width: 350px) {
  .couple-of-ideas {
    font-weight: 500;
    font-size: 15px;
  }
  .header {
    font-size: 20px;
    margin: 90px 0 20px 20px;
  }
}
