.idea-container {
  height: 320px;
  width: 100%;
  margin: 10px;
  background-color: #8991dc;
  opacity: 0.9;
  margin-bottom: 100px;
}
.idea-wrapper {
  width: 60%;
  height: 100%;
  background-color: pink;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
.idea-title {
  color: white;
  font-weight: bold;
  font-size: 2em;
  height: 20%;
  width: 100%;
  padding: 20px 0 20px 0;
}
.idea-info {
  float: left;
  display: inline;

  width: 49%;
}
.idea-description {
  overflow: scroll;
  height: 160px;
  color: white;
  /* padding: 0 0 0 20px; */
}
.idea-pic {
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  display: inline;
  width: 49%;
  margintop: 20px;
}
@media (max-width: 750px) {
  .idea-wrapper {
    width: 80%;
  }
  /* .about-me-paragraph {
    width: 100%;
  } */
}
@media (max-width: 550px) {
  .idea-wrapper {
    width: 80%;
  }
  .idea-pic {
    display: block;
  }
}
