.science-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 600px;
  border: 4px solid #f7b42c;
  border-radius: 30px;
  margin: 0 auto;
}
.science-idea {
  display: flex;
  flex-direction: row;

  border-bottom: 1px solid #f7b42c;
  border-top: 1px solid #f7b42c;
}
.science-text {
  width: 80%;
  padding: 20px;
}
